data/Augmented IQ-OTHNCCD lung cancer dataset/
data/processed/
data/processed_images_by_filter/
echo "data/processed/" >> .gitignore
env/
*.pyc
__pycache__/
*.ipynb_checkpoints
.DS_Store


env/
env/ 130 ↵
